html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

.tk-background-blue {
  background: linear-gradient(-187deg, #020054, #0071fd);
}
.tk-background-dark {
  background: linear-gradient(187deg, #01002b, #001835);
}
.tk-card {
  box-shadow: 0px 2px 7px 3px #000000a3;
  border-radius: 10px;
}

.tk-btn {
  border-radius: 5px;
  margin: 5px 3px;
  padding: 5px 1rem;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px 3px #18181865;
  position: relative;
  border: none;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.tk-btn:hover {
  box-shadow: 0px 3px 5px 3px #3a3a3a;
  content: "";
  display: block;
}
.tk-btn:after {
  content: "";
  background: #ffffff;
  display: block;
  border-radius: 1rem;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.tk-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.tk-btn-success {
  background: linear-gradient(65deg, rgba(24, 145, 0, 0.884), rgb(16, 126, 1));
  color: wheat;
}
.tk-btn-danger {
  background: linear-gradient(65deg, rgba(175, 20, 0, 0.884), red);
  color: wheat;
}
.tk-btn-primary {
  background: linear-gradient(65deg, rgba(0, 76, 175, 0.884), rgb(47, 0, 255));
  color: wheat;
}
.tk-btn-warning {
  background: linear-gradient(65deg, rgba(175, 64, 0, 0.884), rgb(255, 123, 0));
  color: wheat;
}
.tk-btn-dark {
  background: linear-gradient(65deg, rgba(46, 46, 46, 0.884), rgb(0, 0, 0));
  color: wheat;
}
.tk-btn-purple {
  background: linear-gradient(65deg, rgba(78, 0, 33, 0.884), rgb(38, 0, 70));
  color: wheat;
}

/* start codrops */

/* end codrops */
