<app-tk-card>
  <app-tk-card-content>
    <mat-toolbar color="primary" class="navbar">
      <!-- Logo or Title -->
      <button [routerLink]="['/']" class="tk-btn animated-border">CRM</button>

      <!-- Spacer for flex layout -->
      <span class="spacer"></span>

      <!-- Main Buttons -->
      <div class="menu-buttons" *ngIf="!isSmallScreen">
        <div class="tk-btn-ctrl">
          <button [routerLink]="['/admin/user-management']" mat-button>
            Admin
          </button>
        </div>
        <div class="tk-btn-ctrl">
          <button [routerLink]="['/']" mat-button>Dashboard</button>
        </div>
        <div class="tk-btn-ctrl">
          <button [routerLink]="['/profile']" mat-button>Profile</button>
        </div>
        <div class="tk-btn-ctrl">
          <button [routerLink]="['/settings']" mat-button>Settings</button>
        </div>
      </div>

      <!-- Responsive Toggle Menu -->
      <button
        mat-icon-button
        class="menu-icon"
        (click)="toggleMenu()"
        *ngIf="isSmallScreen"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Responsive Menu Content -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/admin/user-management']">
          Admin
        </button>
        <button mat-menu-item>Dashboard</button>
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="signout()">Logout</button>
      </mat-menu>

      <!-- Utility Icons -->
      <div class="utility-icons">
        <mat-slide-toggle></mat-slide-toggle>
        <button mat-icon-button>
          <mat-icon color="primary">favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button (click)="signout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </app-tk-card-content>
</app-tk-card>
