<div class="app-card">
  <div class="app-header">Sample</div>
  <div class="app-content">
    <table class="app-table app-table-striped app-table-bordered app-table-hover">
      <caption>
        <strong>Data Count:</strong>
        {{
          dataCount()
        }}
        |
        <strong>Deleted Count:</strong>
        {{
          deleteCount()
        }}
        |
        <strong>Variable Count:</strong>
        {{
          countVariable
        }}
        |
        <strong>Signal Count:</strong>
        {{
          countSignal()
        }}
      </caption>

      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Body</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @for (post of datasource(); track $index) {
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <button class="app-btn app-btn-danger" (click)="removeItem(post)">Remove</button>
          </td>
        </tr>
        }
      </tbody>
    </table>


  </div>

  <div class="app-footer">
    <button class="app-btn app-btn-info" (click)="addSignalCount()">Increase Signal Count</button>

        <table class="app-table app-table-striped app-table-bordered app-table-hover">
      <caption>
        <strong>Log Count:</strong>
        {{
          dataLogs().length
        }}
      </caption>

      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
        </tr>
      </thead>

      <tbody>
        @for (log of dataLogs(); track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ log }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
