<div class="app-container">
  <div class="app-alert app-alert-info">Create New User</div>
  <div>
    <form
      class="form-actions"
      #createUserForm="ngForm"
      (ngSubmit)="onSubmit(createUserForm)"
    >
      <mat-card>
        <mat-card-content class="app-form-container">
          <mat-form-field class="full-width app-p-1">
            <mat-label>Name</mat-label>
            <input
              required
              [(ngModel)]="_formModel.name"
              name="name"
              #name="ngModel"
              placeholder="Name"
              type="text"
              matInput
            />
            <!-- <div class="app-color-danger" *ngIf="name.invalid && name.touched">
              Name Is Required ...!
            </div> -->
          </mat-form-field>
          <mat-form-field class="full-width app-p-1">
            <mat-label>Family</mat-label>
            <input
              matInput
              required
              [(ngModel)]="_formModel.family"
              name="family"
              #family="ngModel"
              placeholder="Family"
              type="text"
            />
            <!-- <div
              class="app-color-danger"
              *ngIf="family.invalid && family.touched"
            >
              Family Is Required ...!
            </div> -->
          </mat-form-field>
          <mat-form-field class="full-width app-p-1">
            <mat-label>Email</mat-label>
            <input
              [(ngModel)]="_formModel.email"
              #email="ngModel"
              required
              matInput
              placeholder="Email"
              name="email"
              type="email"
            />
            <!-- <div
              class="app-color-danger"
              *ngIf="email.invalid && email.touched"
            >
              Email Is Required ...!
            </div> -->
          </mat-form-field>
          <mat-form-field class="full-width app-p-1">
            <mat-label>Phone</mat-label>
            <input
              required
              [(ngModel)]="_formModel.phoneNumber"
              name="phone"
              #phone="ngModel"
              matInput
              placeholder="Phone"
              type="text"
            />
            <!-- <div
              class="app-color-danger"
              *ngIf="phone.invalid && phone.touched"
            >
              Phone Is Required ...!
            </div> -->
          </mat-form-field>
          <mat-form-field class="full-width app-p-1">
            <mat-label>Password</mat-label>
            <input
              [(ngModel)]="_formModel.password"
              required
              name="password"
              #password="ngModel"
              matInput
              placeholder="Password"
              type="password"
            />
            <!-- <div
              class="app-color-danger"
              *ngIf="password.invalid && password.touched"
            >
              Password Is Required ...!
            </div> -->
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary app-mx-1">
            Submit
          </button>

          <button
            [disabled]="createUserForm.invalid"
            type="submit"
            mat-raised-button
            color="primary app-mx-1"
          >
            Submit
          </button>
          <button
            type="button"
            [routerLink]="['/users']"
            mat-raised-button
            color="accent app-mx-1"
          >
            Back
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
