#navbar {
  text-align: center;
}
#navbar > div {
  padding: 1rem;
}
.nav-link {
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: wheat;
  transform: scale(1.1);
}
button {
  border: none;
  outline: none;
  background: #ffffff4a;
}
