@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    #userList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        #userList > ol {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            background: linear-gradient(45deg, #a30000, #001ca5);
            color: white;
            padding: 5px;
            border-radius: 10px;
            box-shadow: -2px 5px 5px 2px #0000008c;
            border: 1px solid #c50000;
            margin: 5px;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="broadcastButton" class="btn btn-outline-primary p-2 m-2">Broadcast</button>
    <div class="container p-3">
        <h1>Online Users</h1>
        <ul id="userList"></ul>
    </div>
</div>

<script src="~/js/index.js"></script>