@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="broadcastButton" class="btn btn-outline-primary p-2 m-2">Broadcast</button>
    <div class="container p-3">
        <h1>Online Users</h1>
        <ul id="userList"></ul>
    </div>
</div>

<script src="~/js/index.js"></script>