<div class="app-container">
  <div class="app-container-content">
    <mat-form-field class="full-width">
      <mat-label>User Name</mat-label>
      <input matInput [(ngModel)]="user" placeholder="User" />
    </mat-form-field>
    <button mat-button class="m-2" color="primary" (click)="addUserToChat()">
      Add User
    </button>
  </div>
  <div class="app-container-content">
    <ul class="app-container-users">
      <li class="app-item-users" *ngFor="let user of userChats">
        <span>{{ user.name }}</span>
        <button
          mat-button
          class="m-2"
          color="primary"
          (click)="leaveChat(user)"
        >
          Leave
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="app-container">
  <div class="app-container-content">
    <mat-grid-list cols="2" rowHeight="1:2">
      <mat-grid-tile class="bg-slate-500">
        <div class="app-chat-container">
          <div *ngFor="let user of userChats" class="app-container">
            <div
              [ngStyle]="{ background: user.bgColor }"
              class="app-container-content"
            >
              <div class="app-alert">
                {{ user.name }}
              </div>
              <div class="app-item">
                <mat-form-field class="full-width mx-2">
                  <mat-label>Message</mat-label>
                  <textarea
                    matInput
                    [(ngModel)]="user.message"
                    placeholder="Message"
                  ></textarea>
                </mat-form-field>
                <button
                  mat-button
                  class="m-2"
                  color="primary"
                  (click)="sendMessage(user)"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="bg-slate-700">
        <div class="app-container-messages">
          <div class="app-alert app-alert-primary">User Chat Room</div>
          <div
            [ngStyle]="{ background: getUser(msg.user)?.bgColor }"
            class="app-item-messages"
            *ngFor="let msg of signalRService.messages"
          >
            <strong>{{ msg.user }}:</strong> {{ msg.message }}
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
