/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}

.app-container {
  margin: 1rem 0 3rem 0;
  padding: 0.1rem;
}
.app-container-content {
  border-radius: 5px;
  padding: 0.5rem;
  margin: 15px 5px;
}

.app-card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.app-card-content {
  border-radius: 5px;
  padding: 0.5rem;
  margin: 15px 5px;
}

.app-alert {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.app-alert:hover {
  transform: translateY(-5px);
  cursor: grabbing;
}

.app-alert-danger {
  background: linear-gradient(45deg, rgb(253, 50, 36), rgb(207, 31, 0));
  color: white;
}
.app-alert-info {
  background: rgb(59, 146, 187);
  color: white;
}

.app-alert-primary {
  background: rgb(70, 82, 255);
  color: white;
}
.app-alert-warning {
  background: rgb(170, 119, 9);
  color: white;
}
.app-btn {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
.app-btn:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.app-btn-success {
  background: rgb(0, 100, 79);
  color: white;
}
.app-btn-danger {
  background: rgb(175, 17, 17);
  color: white;
}
.app-btn-primary {
  background: rgb(17, 59, 175);
  color: white;
}
.app-btn-warning {
  background: rgb(163, 117, 19);
  color: white;
}
