.swagger-ui .topbar {
    background-color: #0d1117 !important;
    border-bottom: 2px solid #58a6ff;
}

.swagger-ui .topbar-wrapper .link span {
    color: #58a6ff !important;
    font-weight: bold;
}

.swagger-ui {
    background-color: #161b22 !important;
    color: #c9d1d9 !important;
}

    .swagger-ui .info h2,
    .swagger-ui .info p {
        color: #58a6ff !important;
    }

    .swagger-ui .scheme-container {
        background-color: #1c2128 !important;
    }

    .swagger-ui .btn.authorize {
        background-color: #238636 !important;
        color: white !important;
    }
