<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular 19</span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active">
    Home
  </button>
  <button
    mat-button
    [routerLink]="['/about']"
    routerLinkActive="router-link-active"
  >
    About
  </button>
  <button
    mat-button
    [routerLink]="['/example-test']"
    routerLinkActive="router-link-active"
  >
    Examples
  </button>
  <button
    mat-button
    [routerLink]="['/parameter-controller']"
    routerLinkActive="router-link-active"
  >
    ParameterController
  </button>
  <button
    mat-button
    [routerLink]="['/users']"
    routerLinkActive="router-link-active"
  >
    User
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
