.app-table {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 10px !important;
}

.app-table > thead {
  width: 100%;
  text-align: center;
  border: 1.7px solid rgb(0, 0, 0);
  background: rgb(0, 44, 85);
  color: white;
  cursor: pointer;
}

.app-table > thead > tr {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
}

.app-table > thead > tr > th {
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  padding: 5px 5px;
}

.app-table > tbody {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 10px !important;
}

.app-table > tbody > tr {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 10px !important;
}

.app-table > tbody > tr:hover {
  background: rgb(218, 216, 255);
}

.app-table > tbody > tr > td {
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  padding: 2px 5px;
}

.app-table > tbody > tr > td:hover {
  cursor: pointer;
}

.app-badge-success {
  border-radius: 5px;
  background: rgb(0, 255, 0);
  padding: 5px 10px;
}
.app-badge-danger {
  border-radius: 5px;
  background: rgb(255, 107, 107);
  padding: 5px 10px;
}
.app-mx-2 {
  margin: 0 2px;
}
.app-btn-primary {
  background: rgb(49, 97, 201);
  color: white;
}
