.app-page-not-found {
    background: linear-gradient(135deg, #003585, #001732);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.not-found-content {
    animation: fadeIn 0.8s ease-out;
}

.not-found-content h1 {
    font-size: 6rem;
    font-weight: 800;
    margin: 100px 0 ;
    letter-spacing: 5px;
}

.not-found-content p {
    font-size: 1.4rem;
    opacity: 0.85;
    margin: 20px 0 ;
}

.app-btn {
    background-color: #ff8c42;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.app-btn:hover {
    background-color: #e57936;
    transform: translateY(-2px);
}

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}
