.login-container {
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.login-card {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.login-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.733);
}

.login-card-title {
  background: rgb(44, 0, 95);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.full-width {
  width: 100%;
  text-align: center;
}
