/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
body {
    background: url('../public/img/background\ \(4\).jpg'); /* Update the path as needed */
    background-repeat: no-repeat; /* Prevent tiling */
    background-size: 100% 100%; /* Stretch the image to fill the entire viewport */
    background-position: top left; /* Aligns the image to the top-left corner */
    height: 100vh; /* Make the body span the full viewport height */
    width: 100vw; /* Make the body span the full viewport width */
    margin: 0; /* Remove default body margins */
    padding: 0; /* Remove default body padding */
    overflow: hidden; /* Prevent scrollbars from appearing */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
