<div class="app-container">
  <div class="app-container-content">
    <form>
      <mat-card>
        <mat-card-content> Content A </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Create</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <div class="app-container-content">
    <form>
      <mat-card>
        <mat-card-content> Content B </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Update</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
