@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-group-horizontal">
                <li class="list-group-item-action">
                    <NavLink class="nav-link" href="swagger">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Swagger
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>
