<mat-toolbar color="primary">
  <span>Angular 19</span>
  <span class="example-spacer"></span>
  <button
    *ngFor="let item of navList"
    [routerLink]="[item.link]"
    routerLinkActive="router-link-active"
    mat-button
  >
    {{ item.title }}
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <div>
    <span
      [routerLink]="['/profile']"
      mat-button
      *ngIf="displayName.length > 0"
      class="app-current-user"
      >{{ displayName }}</span
    >
    <span *ngIf="!(displayName.length > 0)" class="app-current-user"
      >کاربر مشخص نشده است</span
    >
  </div>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon (click)="logout()">login</mat-icon>
  </button>
</mat-toolbar>
