<div class="container-fluid">
  <div class="row">
    <form>
      <div class="d-flex flex-row">
        <!-- First Name -->
        <div class="mb-3 mx-2">
          <label for="firstName" class="form-label">First Name</label>
          <input
            [(ngModel)]="userModel.name"
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
          />
          <div id="firstName" class="form-text">First Name Info</div>
        </div>

        <!-- Last Name -->
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            [(ngModel)]="userModel.family"
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
          />
          <div id="lastName" class="form-text">Last Name Info</div>
        </div>

        <!-- Email -->
        <div class="mb-3 mx-2">
          <label for="email" class="form-label">Email</label>
          <input
            [(ngModel)]="userModel.email"
            type="email"
            class="form-control"
            id="email"
            name="email"
          />
          <div id="email" class="form-text">Email Info</div>
        </div>

        <!-- Password and Re-Password -->
        <div class="mb-3 mx-2">
          <label for="password" class="form-label">Password</label>
          <input
            [(ngModel)]="userModel.password"
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
          <label for="rePassword" class="form-label">Re-Password</label>
          <input
            #rePassword
            type="password"
            class="form-control"
            id="rePassword"
          />
        </div>
      </div>

      <!-- Remember Me and Submit Button -->
      <div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">
            Remember Me!
          </label>
        </div>
        <button
          (click)="onSubmitForm($event)"
          type="submit"
          class="btn btn-primary w-100"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
