<div class="app-container">
  <div class="app-content">
    <div class="app-info">
      <div class="app-info-title">Control Flow</div>
      <ul class="app-list">
        <button (click)="visiblity.if = !visiblity.if" class="app-btn app-btn-primary">
          @If
          <span
            class="app-badge"
            [ngClass]="{ 'app-badge-success': visiblity.if, 'app-badge-danger': !visiblity.if }"
            >{{ getValue(visiblity.if) }}</span
          >
        </button>
        <button (click)="visiblity.else = !visiblity.else" class="app-btn app-btn-primary">
          @If
          <span
            class="app-badge"
            [ngClass]="{ 'app-badge-success': visiblity.else, 'app-badge-danger': !visiblity.else }"
            >{{ getValue(visiblity.else) }}</span
          >
        </button>
        <button (click)="visiblity.for = !visiblity.for" class="app-btn app-btn-primary">
          @For
          <span
            class="app-badge"
            [ngClass]="{ 'app-badge-success': visiblity.for, 'app-badge-danger': !visiblity.for }"
            >{{ getValue(visiblity.for) }}</span
          >
        </button>
        <button (click)="visiblity.switch = !visiblity.switch" class="app-btn app-btn-primary">
          @Switch
          <span
            class="app-badge"
            [ngClass]="{
              'app-badge-success': visiblity.switch,
              'app-badge-danger': !visiblity.switch
            }"
            >{{ getValue(visiblity.switch) }}</span
          >
        </button>
        <button
          (click)="visiblity.deferable = !visiblity.deferable"
          class="app-btn app-btn-primary"
        >
          @Deferable
          <span
            class="app-badge"
            [ngClass]="{
              'app-badge-success': visiblity.deferable,
              'app-badge-danger': !visiblity.deferable
            }"
            >{{ getValue(visiblity.deferable) }}</span
          >
        </button>
      </ul>
    </div>
    @if (visiblity.if) {
    <div class="app-card">
      <div class="app-card-header">If</div>
      <button (click)="generateRandom()" class="app-btn app-btn-primary">
        Random Number {{ counter }}
      </button>
      @if (counter == 1) {
      <div class="app-info app-bg-red-4">Counter 1 Value is => {{ counter }}</div>
      } @if (counter == 2) {
      <div class="app-info app-bg-blue-4">Counter 2 Value is => {{ counter }}</div>
      } @if (counter == 3) {
      <div class="app-info app-bg-dark-4">Counter 3 Value is => {{ counter }}</div>
      } @else {
      <div class="app-info app-bg-light-4">Else Value is => {{ counter }}</div>
      }
    </div>
    } @if (visiblity.else) {
    <div class="app-card">
      <div class="app-card-header">If Else</div>
      <button (click)="generateRandom()" class="app-btn app-btn-primary">
        Random Number {{ counter }}
      </button>
      @if (counter == 1) {
      <div class="app-info app-bg-red-3">Condition 1 Value is => {{ counter }}</div>
      }@else if (counter == 2) {
      <div class="app-info app-bg-blue-3">Condition 2 Value is => {{ counter }}</div>
      } @else if (counter == 3) {
      <div class="app-info app-bg-green-3">Condition 3 Value is => {{ counter }}</div>
      }@else {
      <div class="app-info app-bg-orange-3">Condition Else Value is => {{ counter }}</div>
      }
    </div>
    } @if (visiblity.for) {
    <div class="app-card">
      <div class="app-card-header">
        For
        <button (click)="AddUser()" class="app-btn app-btn-primary">Add</button>
        <button (click)="RemoveUser()" class="app-btn app-btn-primary">Remove</button>
      </div>
      <ul class="app-list">
        @for (item of players; track item;let i = $index;let c = $count;let e = $even;let o = $odd)
        {
        <li class="app-margin-t-3" [ngClass]="e ? 'app-bg-blue-1' : 'app-bg-blue-2'">
          {{ i }} ) {{ item }} : {{ c }}: {{ e }}: {{ o }}
        </li>
        <li [ngClass]="{ 'app-bg-red-1': e, 'app-bg-red-2': o }">
          {{ i }} ) {{ item }} : {{ c }}: {{ e }}: {{ o }}
        </li>
        }
      </ul>
    </div>
    } @if (visiblity.switch) {
    <div class="app-card">
      <div class="app-card-header">Switch</div>
      <button (click)="generateRandom()" class="app-btn app-btn-primary">
        Random Number {{ counter }}
      </button>
      @switch (counter) { @case (0) {
      <div class="app-info">Case 0 Value is => {{ counter }}</div>
      } @case (1) {
      <div class="app-info">Case 1 Value is => {{ counter }}</div>
      } @case (2) {
      <div class="app-info">Case 2 Value is => {{ counter }}</div>
      } @case (3) {
      <div class="app-info">Case 3 Value is => {{ counter }}</div>
      } @case (4) {
      <div class="app-info">Case 4 Value is => {{ counter }}</div>
      } @case (5) {
      <div class="app-info">Case 5 Value is => {{ counter }}</div>
      } }
    </div>
    }@if (visiblity.deferable) {
    <div class="app-card">
      <div class="app-card-header">Deferable</div>
      <div class="app-card-body app-flex-col-center">
        <div class="app-info">
          <div class="app-info-title">Timer</div>
          @defer (on timer(10000ms)){
          <div class="app-info app-bg-green-2">
            This is Kamran : {{ dateTimeNow | date : 'fullDate' }}
          </div>
          }@placeholder {
          <div class="app-info app-bg-red-2">This is Not Kamran : {{ dateTimeNow | date }}</div>
          }
        </div>
        <hr />
        <div class="app-info">
          <div class="app-info-title">Idle</div>
          @defer (on idle){
          <div class="app-info app-bg-green-2">
            This is Idle : {{ dateTimeNow | date : 'fullDate' }}
          </div>
          }@placeholder {
          <div class="app-info app-bg-red-2">This is Not Idle : {{ dateTimeNow | date }}</div>
          }
        </div>
        <hr />
        <div class="app-info">
          <div class="app-info-title">Viewport</div>
          @defer(on viewport;on timer(5s)){
          <div class="app-info app-bg-blue-1">On View Port !!!</div>
          }@placeholder {
          <div class="app-info app-bg-blue-4">On View Port Place Holder ...</div>
          }
        </div>
        <hr />
        <div class="app-info">
          <div class="appp-info-title">Interaction => timer</div>
          @defer(on interaction;on timer(5s)){
          <div class="app-info app-bg-blue-1">On Interaction !!!</div>
          }@placeholder {
          <div class="app-info app-bg-blue-4">On Interaction Place Holder ...</div>
          }
        </div>
        <hr />
        <div class="app-info">
          <div class="app-info-title">Header</div>
          <h1 #header>Click or Hover On Me to Reaction !!!</h1>
          @defer(on hover(header)){
          <div class="app-info app-bg-blue-1">On Hover !!!</div>
          }@placeholder {
          <div class="app-info app-bg-blue-4">On Hover Place Holder ...</div>
          }
          <hr />
          @defer(on interaction(header)){
          <div class="app-info app-bg-blue-1">On Intractive !!!</div>
          }@placeholder {
          <div class="app-info app-bg-blue-4">On Intractive Place Holder ...</div>
          }
        </div>
        <hr />
        <button class="app-btn app-btn-dark" (click)="toggle()">
          Toggle Loading ({{ counter }})
          {{ isLoading ? 'Loading ...' : 'Loaded' }}
        </button>
        @defer(when isLoading){
        <div class="app-info app-bg-blue-1">On When Loading !!!</div>
        }@placeholder {
        <div class="app-info app-bg-blue-4">On When Loading Place Holder ...</div>
        } @defer(when counter > 3){
        <div class="app-info app-bg-blue-1">On When Counter > 3 !!!</div>
        }@placeholder {
        <div class="app-info app-bg-blue-4">On When Counter > 3 Place Holder ...</div>
        }@loading {
        <div class="app-info app-bg-light-4">On Loading ❗</div>
        }

        <hr />
        @defer(when counter > 3){
        <div class="app-info app-bg-blue-1">On When Counter > 3 !!!</div>
        }@placeholder {
        <div class="app-info app-bg-blue-4">On When Counter > 3 Place Holder ...</div>
        }@loading(after 100ms; minimum 2s) {
        <div class="app-info app-bg-light-4">On Loading ❗</div>
        }@error {
        <div class="app-info app-bg-light-4">On Error Loading ❌</div>
        }
      </div>
    </div>
    }
  </div>
</div>
