<button class="app-btn app-btn-primary">Primary</button>
<button class="app-btn app-btn-info">Info</button>
<button class="app-btn app-btn-secondary">Secondary</button>
<button class="app-btn app-btn-success">Success</button>
<button class="app-btn app-btn-warning">Warning</button>
<button class="app-btn app-btn-danger">Danger</button>
<button class="app-btn app-btn-dark">Dark</button>

<button class="app-btn app-btn-primary app-btn-sm">Small</button>
<button class="app-btn app-btn-success app-btn-lg">Large</button>

<button class="app-btn app-btn-info app-btn-outline">Outline</button>
<button class="app-btn app-btn-primary app-btn-icon">
  <i class="material-icons">edit</i>
</button>
