.app-containter-flex-column {
  display: flex;
  flex-direction: column;
}

.app-btn-custom {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.app-input-text-area {
  box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.322);
  border: 1px solid rgba(0, 102, 255, 0.322);
  outline: none;
  padding: 1rem;
  width: 50%;
}
