<div class="app-page-component">
  <div class="app-page-component-content">
    <div>
      <h1>Current Routes : parameter-controller/{{ idPrams }}</h1>
      <div class="app-containter-flex-column">
        <button
          class="app-btn-custom"
          [routerLink]="['/parameter-controller/82937482973']"
          mat-button
        >
          parameter-controller/82937482973
        </button>
        <button
          class="app-btn-custom"
          [routerLink]="['/parameter-controller/Kaihan']"
          mat-button
        >
          parameter-controller/Kaihan
        </button>
        <button
          class="app-btn-custom"
          [routerLink]="['/parameter-controller/sldvm892938']"
          mat-button
        >
          parameter-controller/sldvm892938
        </button>
      </div>
      <div>
        <input
          class="app-input app-input-text"
          placeholder="parameter ..."
          [(ngModel)]="parameter"
        />
        <button (click)="onGoRoute()" class="app-btn app-btn-primary">
          Go ...
        </button>
      </div>
      <div>
        <textarea [(ngModel)]="currentUrl" rows="5" class="app-input-text-area">
        </textarea>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
