<div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <input
          class="form-control m-1"
          placeholder="Username ..."
          [(ngModel)]="username"
          id="name"
          type="text"
        />
        <input
          class="form-control m-1"
          placeholder="Age ..."
          [(ngModel)]="age"
          id="age"
          type="number"
        />
      </div>
      <div class="col-6">
        <input
          class="form-control m-1"
          placeholder="Password ..."
          [(ngModel)]="password"
          id="password"
          type="password"
        />
        <input
          class="form-control m-1"
          placeholder="Re-Password ..."
          [(ngModel)]="confirmPass"
          id="re-pass"
          type="password"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex flex-row">
      <button
        (click)="onCheck()"
        class="btn btn-dark btn-gradient my-1 w-25 mx-1"
      >
        Check
      </button>
      <button
        (click)="onLogin()"
        class="btn btn-primary btn-gradient my-1 w-25 mx-1"
      >
        Login
      </button>
      <button
        (click)="onIsAdmin()"
        class="btn btn-info btn-gradient my-1 w-25 mx-1"
      >
        IsAdmin
      </button>
      <button
        (click)="onIsUser()"
        class="btn btn-warning btn-gradient my-1 w-25 mx-1"
      >
        IsUser
      </button>
      <button
        (click)="onReadForm()"
        class="btn btn-success btn-gradient my-1 w-25 mx-1"
      >
        Read Form
      </button>
      <button
        (click)="onClear()"
        class="btn btn-danger btn-gradient my-1 w-25 mx-1"
      >
        Clear
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row shadow my-3 p-3 rounded-3">
      <div class="col-6 p-1">
        <div class="text-center p-1 bg-dark bg-gradient text-light rounded-3">
          {{ username }}
        </div>
      </div>
      <div class="col-6 p-1">
        <div class="text-center p-1 bg-dark bg-gradient text-light rounded-3">
          {{ age }}
        </div>
      </div>
    </div>
    <div class="row shadow my-1 p-3 rounded-3">
      <div class="col-6 p-1">
        <div
          [ngClass]="{
            'bg-danger': password != confirmPass,
            'bg-success': password == confirmPass
          }"
          class="text-center p-1 bg-gradient text-light rounded-3"
        >
          {{ password == confirmPass ? "Match" : password }}
        </div>
      </div>
      <div class="col-6 p-1">
        <div
          [ngClass]="{
            'bg-danger': password != confirmPass,
            'bg-success': password == confirmPass
          }"
          class="text-center p-1 bg-gradient text-light rounded-3"
        >
          {{ password == confirmPass ? "Match" : confirmPass }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <span>Username</span>:<span>{{ username }}</span>
      </li>
      <li class="list-group-item">
        <span>Password</span>:<span
          [ngClass]="{
            'bg-success bg-gradient rounded-3 p-1 px-2':
              password == confirmPass,
            'bg-danger bg-gradient rounded-3 p-1 px-2': password != confirmPass
          }"
          >{{ password + " : " + confirmPass }}</span
        >
      </li>
      <li class="list-group-item">
        <span>Age</span>:<span>{{ age }}</span>
      </li>
      <li class="list-group-item">
        <span>Access</span>:
        <span
          [ngClass]="{ 'bg-success bg-gradient rounded-3 p-1': access }"
          [hidden]="!access"
          >Access</span
        >
        <span
          [ngClass]="{ 'bg-danger bg-gradient rounded-3 p-1': !access }"
          [hidden]="access"
          >Not Access</span
        >
      </li>
      <li class="list-group-item">
        <span>IsAdmin</span>:<span>{{ isAdmin }}</span>
      </li>
      <li class="list-group-item">
        <span>IsUser</span>:<span>{{ isUser }}</span>
      </li>
      <li class="list-group-item">
        <span>IsLogin</span>:<span>{{ isLogin }}</span>
      </li>
    </ul>
  </div>
</div>
