<div class="app-card">
  <ul class="app-list">
    <li>
      <button
        class="app-btn"
        [ngClass]="{ 'app-btn-primary': isLoggedIn, 'app-btn-danger': !isLoggedIn }"
        (click)="change(isLoggedIn)"
      >
        @ if | @ else | @ else if
      </button>
      <div>
        @if (role === 'admin') {
        <p class="app-text-primary">Admin Panel</p>
        } @else if (role === 'user') {
        <p class="app-text-secondary">User Dashboard</p>
        } @else {
        <p class="app-text-info">Guest Access</p>
        }
      </div>
    </li>
    <li>
      @ for
      <div>
        @for (user of users; track user.id) {
        <p class="app-badge app-badge-primary">{{ user.name }}</p>
        }
        <hr />
        @for (user of users; let i = $index;track user.id) {
        <p class="app-badge app-badge-primary">{{ i + 1 }} - {{ user.name }}</p>
        }
      </div>
    </li>
    <li>
      <button class="app-btn app-btn-warning" (click)="changeStatus()">
        @ switch | @ case | @ default
      </button>
      <div>
        @switch (status) { @case ('active') {
        <p>Operation successful</p>
        } @case ('inactive') {
        <p>Something went wrong</p>
        } @default {
        <p>Unknown status</p>
        } }
      </div>
    </li>
    <li>
      <button class="app-btn app-btn-info" (click)="generateRandomNames()">@ let</button>
      <div>
        @let fullName = firstName + ' ' + lastName;

        <p>{{ fullName }}</p>
      </div>
    </li>
    <li>
      @ defer
      <div>
        @defer {
        <!-- <app-heavy-component /> -->
        <p>Heavy component loaded!</p>
        } @placeholder {
        <p>Loading...</p>
        } @error {
        <p>Failed to load</p>
        }
      </div>
    </li>
  </ul>
</div>
