.app-child{
  background: rgb(230, 230, 230);
  box-shadow: -2px -1px 3px 0px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 3px;
}
.app-title-value strong{
  color: #ff5733;
}
.app-title-value{
  font-weight: bold;
  border: 1px solid #000;
  margin: 1px 0;
  padding: 5px;
  color: #00aeff;
}
