<div class="container-fluid">
  <div class="row p-1 shadow rounded-3">
    <div class="col-12">
      <form>
        <div class="container-fluid">
          <div class="row my-3">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1">
              <label class="form-label">Name </label>
              <input
                #name
                class="form-control"
                type="text"
                placeholder="Name ... "
              />
              <div id="emailHelp" class="form-text text-danger">
                Password is required ....!
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1">
              <label class="form-label">Family</label>
              <input
                #family
                class="form-control"
                type="text"
                placeholder="Family ... "
              />
              <div id="emailHelp" class="form-text">
                Family is required ....!
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1">
              <label class="form-label">Email</label>
              <input
                #email
                class="form-control"
                type="text"
                placeholder="Email ... "
              />
              <div id="emailHelp" class="form-text">
                Email is required ....!
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1">
              <label class="form-label">Password</label>
              <input
                #password
                class="form-control"
                type="text"
                placeholder="Password ... "
              />
              <div id="emailHelp" class="form-text">
                Password is required ....!
              </div>
            </div>
          </div>
          <div class="row my-1">
            <input
              (click)="
                submit(
                  name.value,
                  family.value,
                  email.value,
                  password.value,
                  $event
                )
              "
              type="submit"
              class="btn btn-outline-success"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
