.app-active-btn {
  background: rgb(79, 126, 255);
  margin: 0 10px;
  color: white !important;
}
.app-disActive-btn {
  background: rgb(167, 167, 167);
  color: rgb(0, 0, 0) !important;
  margin: 0 10px;
}
