<div class="container-fluid my-3">
  <div class="row shadow p-3 rounded-3">
    <div class="col-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr class="rounded-3 table-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Family</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>&#64;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
