<div class="app-container">
  <div class="app-content">
    <!-- Main Action Card -->
    <div class="app-card app-card-hover">
      <div class="app-card-header">Introduction to Template in Angular</div>

      <div class="app-card-body ">
        <p>
          Templates in Angular define the view for a component. They use HTML along with Angular's
          template syntax to bind data and handle user interactions.
        </p>
        <p>Key features of Angular templates include:</p>
        <ul>
          <li>Data Binding: Connects component data to the template.</li>
          <li>Directives: Extend HTML with custom behavior (e.g., *ngIf, *ngFor).</li>
          <li>Event Binding: Handles user events like clicks and input changes.</li>
        </ul>
        <p>
          Understanding templates is essential for building dynamic and interactive web applications
          with Angular.
        </p>

        <hr />
        <p>What is Interpolation?</p>
        <p>
          Interpolation in Angular is a technique used to bind data from the component to the
          template. It allows you to display dynamic content by embedding expressions within double
          curly braces .
        </p>
      </div>
    </div>

    <!-- Recent Activity -->
    <div class="app-card">
      <div class="app-card-header">Recent Activity</div>

      <div class="app-card-body">
        <ul class="app-list">
          <li>User John created a record</li>
          <li>Order #1203 completed</li>
          <li>Settings updated</li>
        </ul>
      </div>
    </div>
  </div>
</div>
