<div class="app-container">
  <div class="app-container-content">
    <div class="app-alert app-alert-info app-align-center app-width-100">
      Form
    </div>
  </div>
  <div class="app-container-content">
    <h1 class="bg text-3xl font-bold underline">Hello world!</h1>
    <button
    (click)="showAlert()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Button
    </button>
    <button
    (click)="showAlert()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
      Button
    </button>
  </div>
</div>
