<div class="app-container">
  <div class="app-container-content">
    <div class="app-field">
      <span class="app-field-title">Counter</span>
      <button (click)="addCounter()" class="app-btn app-btn-success">
        Add +
      </button>
      <span class="app-field-value">{{ _counter() }}</span>
      <button (click)="removeCounter()" class="app-btn app-btn-danger">
        Remove -
      </button>
    </div>
    <div class="app-field">
      <span class="app-field-title">Date </span>
      <span>{{ _curentDate() }}</span>
      <button class="app-btn app-btn-warning" (click)="updateDate()">
        Update Date
      </button>
      <button class="app-btn app-btn-primary" (click)="startInterval()">
        Start Interval
      </button>
      <button class="app-btn app-btn-danger" (click)="clearInterval()">
        Clear Interval
      </button>
      <button mat-button color="primary" class="">MatButton</button>
    </div>
    <div class="app-field">
      <span class="app-field-title">Name</span>
      <span> {{ _name() }}</span>
    </div>
    <div class="app-field">
      <span class="app-field-title">Signal</span>
      <button class="app-btn app-btn-success" (click)="addRequestCount()">
        Add Request
      </button>
      <button class="app-btn app-btn-danger" (click)="removeRequestCount()">
        Remove Request
      </button>
      <button class="app-btn app-btn-primary" (click)="getRequestCount()">
        Get Request
      </button>
      <div class="app-field-child">
        <span class="app-field-title">Request Count </span>
        <span> {{ requestCount }}</span>
      </div>
    </div>
    <div class="app-field">
      <span>Current User</span>
      <div class="app-field-child">
        <span>{{ _currentInfo().id }}</span>
        <span>{{ _currentInfo().name }}</span>
        <span>{{ _currentInfo().family }}</span>
        <span>{{ _currentInfo().email }}</span>
        <span>{{ _currentInfo().phoneNumber }}</span>
        <span>{{ _currentInfo().username }}</span>
        <span>{{ _currentInfo().password }}</span>
      </div>
    </div>
  </div>
</div>
