.app-field {
  background-color: rgb(97, 97, 97);
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin: 1px;
}
.app-field-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.app-field-child > span {
  background: rgb(49, 49, 49);
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
}

.app-field-child > span:hover {
  background: rgb(36, 36, 36);
  cursor: pointer;
}

.app-field-value {
  background: black;
  padding: 10px;
  border-radius: 5px;
}
.app-field-title {
  background: rgb(27, 0, 78) !important;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px !important;
}
