<app-tk-card>
  <mat-grid-list cols="7" rowHeight="1:1">
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A1</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A2</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A3</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A4</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A5</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A6</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A7</div></mat-grid-tile
    >
  </mat-grid-list>

  <mat-grid-list cols="7" rowHeight="1:1">
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A1</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A2</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A3</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A4</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A5</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A6</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A7</div></mat-grid-tile
    >
  </mat-grid-list>

  <mat-grid-list cols="7" rowHeight="1:1">
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A1</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A2</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A3</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A4</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A5</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A6</div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="mat-grid-tile-content">Card A7</div></mat-grid-tile
    >
  </mat-grid-list>
</app-tk-card>
