.app-profile-page {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 10px;
  height: 93%;
}
.app-profile-page-content {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 10px;
}
.app-profile-card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.app-profile-img {
  width: 100%;
  height: 20%;
  border-radius: 10rem;
  box-shadow: 3px 9px 14px 0px black;
  border: 1px solid rgb(255, 255, 255);
}
.app-profile-info {
  margin-top: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}
.app-flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 5px;
}
.app-profile-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: 49%;
}
