.app-footer {
  height: 48px;
  background: linear-gradient(45deg,
   rgba(0, 0, 0, 0.801),
   rgba(0, 0, 0, 0.527));
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--color-dark);
}
