.app-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.app-not-found > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  height: 50%;
  position: relative;
  font-size: 72px;
  animation: colorChange 5s infinite; /* Apply the animation */
}
@keyframes colorChange {
  0% {
    color: #0066ff;
    box-shadow: 0 0 10px 0 #0066ff;
    background-color: #ff000069;
    transform: scale(0.25);
    transform: rotate(100deg);
  }
  25% {
    color: #0093ad;
    box-shadow: 0 0 10px 0 #0093ad;
    background-color: #0066ff65;
    transform: scale(0.5);
    transform: skew(1);
  }
  50% {
    color: #00b42a;
    box-shadow: 0 0 10px 0 #00b42a;
    background-color: #0093ad6c;
    transform: scale(1);
  }
  75% {
    color: #ffc400;
    box-shadow: 0 0 10px 0 #ffc400;
    background-color: #00b42a77;
    transform: scale(0.5);
  }
  100% {
    color: #ff0000;
    box-shadow: 0 0 10px 0 #ff0000;
    background-color: #ffc40067;
    transform: rotate(-100deg);
    transform: scale(0.25);
  }
}
.app-not-found > h3 {
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  font-size: 48px;
  color: rgb(0, 60, 255);
  text-decoration: underline;
}
