<div class="app-container">
  <div class="app-container-content">
    <div class="app-container-content">
      <div class="app-alert app-alert-danger">Parent</div>
      <div class="app-container-content">
        <button (click)="childToggle()" mat-button color="primary">
          Child
        </button>
        <button (click)="dialogToggle()" mat-button color="primary">
          Dialog
        </button>
        <button (click)="snackToggle()" mat-button color="primary">
          Snack
        </button>
        <button (click)="gridToggle()" mat-button color="primary">Grid</button>
        <button (click)="observableToggle()" mat-button color="primary">
          Observable
        </button>
        <button (click)="signalToggle()" mat-button color="primary">
          Signal
        </button>
        <button (click)="signalToggle()" mat-button color="primary">
          Defer
        </button>
        <button (click)="radioToggle()" mat-button color="primary">
          Radio Button
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="config.child" class="app-container-content">
    <div class="app-alert app-alert-primary">Children</div>
    <div class="app-container-content">
      <mat-form-field class="full-width">
        <mat-label>Pass to Child</mat-label>
        <input matInput [(ngModel)]="passToChild" />
      </mat-form-field>
      <button class="app-bg-primary app-m-4" mat-flat-button>Basic</button>
    </div>
    <div class="app-container-content">
      <app-service-example-child
        [parentPassValueForMe]="passToChild"
        (passDate)="getEventDataFromChild($event)"
      ></app-service-example-child>
    </div>
  </div>
  <div *ngIf="config.dialog" class="app-container-content">
    <div class="app-alert app-alert-primary">Dialog</div>
    <button mat-button color="primary" (click)="openDialog()">
      Open dialog
    </button>
  </div>
  <div *ngIf="config.snack" class="app-container-content">
    <div class="app-alert app-alert-primary">Snack</div>
    <mat-form-field>
      <mat-label>Snack bar duration (seconds)</mat-label>
      <input type="number" [(ngModel)]="durationInSeconds" matInput />
    </mat-form-field>

    <button
      class="app-m-3 app-bg-danger"
      mat-stroked-button
      (click)="openSnackBar()"
      aria-label="Show an example snack-bar"
    >
      Pizza party
    </button>
  </div>
  <div *ngIf="config.grid" class="app-container-content">
    <div class="app-alert app-alert-primary">Grid</div>
    <mat-grid-list cols="4" rowHeight="1:2">
      <mat-grid-tile class="bg-slate-500">1</mat-grid-tile>
      <mat-grid-tile class="bg-slate-700">2</mat-grid-tile>
      <mat-grid-tile class="bg-slate-950">3</mat-grid-tile>
      <mat-grid-tile class="bg-slate-700">4</mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="config.observable" class="app-container-content">
    <div class="app-alert app-alert-primary">Observable</div>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile class="bg-slate-500"> Col1 </mat-grid-tile>
      <mat-grid-tile class="bg-slate-500">
        <app-observable></app-observable>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="config.signal" class="app-container-content">
    <div class="app-alert app-alert-primary">Signal</div>
    <app-signal></app-signal>
  </div>
  <div *ngIf="config.defer" class="app-container-content">
    <div class="app-alert app-alert-primary">Defer</div>
    <app-defer></app-defer>
  </div>
  <div *ngIf="config.radio" class="app-container-content">
    <div class="app-alert app-alert-primary">Radio Control List</div>
    <app-contorl-list></app-contorl-list>
  </div>
</div>
