<div class="app-container">
  <div class="app-container-content">
    <div class="app-alert app-alert-warning">NGRX : Sample A</div>
    <div class="app-container-content">
      <table class="app-table app-table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
