.auth-container {
  background: url("../../../../public/img/background\ \(3\).jpg"); /* Update the path as needed */
  background-repeat: no-repeat; /* Prevent tiling */
  background-size: 100% 100%; /* Stretch the image to fill the entire viewport */
  background-position: top left; /* Aligns the image to the top-left corner */
  height: 100vh; /* Make the body span the full viewport height */
  width: 100vw; /* Make the body span the full viewport width */
  margin: 0; /* Remove default body margins */
  padding: 0; /* Remove default body padding */
  overflow: hidden; /* Prevent scrollbars from appearing */
}

.auth-container-content {
  width: 100vw; /* Make the body span the full viewport width */
  height: 100vh; /* Make the body span the full viewport height */
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
