<div class="container-fluid">
  <div class="row shadow p-3 rounded-3">
    <div class="col-12 d-flex flex-row justify-content-center">
      <app-user-form (onPassModelEvent)="getFormData($event)"></app-user-form>
    </div>
  </div>
  <div class="row shadow p-3 rounded-3 my-3">
    <div class="col-12">
      <app-user-grid
        (onRemoveEvent)="removeItem($event)"
        (onEditEvent)="editItem($event)"
        [dataSourceEvent]="dataSource"
      ></app-user-grid>
    </div>
  </div>
</div>
