.mat-form-field-animations-enabled {
  height: 70px;
}
.mat-mdc-form-field-infix label{
  width: 100% !important;
  text-align: left !important;
}
// .mdc-floating-label {
//   width: 100% !important;
//   text-align: left !important;
// }
// .mat-mdc-floating-label {
//   width: 100% !important;
//   text-align: left !important;
// }
