.app-header {
  height: 47px;
  background: linear-gradient(90deg,var(--color-danger),var(--color-primary));
  color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 0 var(--space-6);
  font-weight: 600;
}

.app-header-logo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 1rem;
  // box-shadow: 0 2px 2px 0 black;
  // filter: drop-shadow(2px 4px 6px rgb(0, 60, 255));
  // filter: drop-shadow(1px 4px 20px rgb(0, 0, 0));
}
