  <!-- Header -->
  <header class="app-header">
    <div class="flex flex-between flex-center gap-md" style="width: 100%">
      <span class="app-header-logo">Angular</span>

      <div class="flex gap-sm">
        <button (click)="login()" class="app-btn app-btn-dark app-btn-outline">Login</button>
        <button (click)="signup()" class="app-btn app-btn-success app-btn-outline">Sign-up</button>
        <button (click)="profile()" class="app-btn app-btn-primary app-btn-outline">Profile</button>
        <button (click)="logout()" class="app-btn app-btn-danger app-btn-outline">Logout</button>
      </div>
    </div>
  </header>
