<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Family</th>
            <th>Phone</th>
            <th>Email</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataList; let row = index">
            <td>{{ row + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.family }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.email }}</td>
            <td>
              <button (click)="remove(item)" class="btn btn-danger">
                Remove
              </button>
            </td>
            <td>
              <button (click)="openUserDialog(item)" class="btn btn-warning">
                Edit
              </button>
            </td>
            <td>
              <button (click)="read(item)" class="btn btn-primary">Read</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-outline-dark" (click)="newUser = !newUser">
      Form
    </button>
  </div>
  <div class="row p-3 shadow m-4" *ngIf="newUser">
    <div class="col-6">
      <div class="form">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div>
            <label class="form-label" for="name">Name:</label>
            <input
              class="form-control"
              id="name"
              formControlName="name"
              type="text"
            />
            <div
              *ngIf="
                userForm.get('name')?.invalid && userForm.get('name')?.touched
              "
            >
              Name is required and must be at least 2 characters.
            </div>
          </div>

          <div>
            <label class="form-label" for="family">Family:</label>
            <input
              class="form-control"
              id="family"
              formControlName="family"
              type="text"
            />
            <div
              *ngIf="
                userForm.get('family')?.invalid &&
                userForm.get('family')?.touched
              "
            >
              Family name is required.
            </div>
          </div>

          <div>
            <label class="form-label" for="phone">Phone:</label>
            <input
              class="form-control"
              id="phone"
              formControlName="phone"
              type="text"
            />
            <div
              *ngIf="
                userForm.get('phone')?.invalid && userForm.get('phone')?.touched
              "
            >
              Phone number must be 10 digits.
            </div>
          </div>

          <div>
            <label class="form-label" for="email">Email:</label>
            <input
              class="form-control"
              id="email"
              formControlName="email"
              type="email"
            />
            <div
              *ngIf="
                userForm.get('email')?.invalid && userForm.get('email')?.touched
              "
            >
              Please provide a valid email address.
            </div>
          </div>

          <button
            class="btn btn-outline-primary m-1 align-self-center"
            type="submit"
            [disabled]="userForm.invalid"
          >
            Create User
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <app-user-modal [user]="selectedUser"></app-user-modal> -->
<app-dialog #myModal>
  <p>Your dynamic content goes here!klsmjdv;lksmdv;lk</p>
</app-dialog>

<button
  class="btn btn-outline-info shadow m-1"
  (click)="myModal.toggleDialog()"
>
  Open Custom Modal
</button>
