<div class="login-container">
  <mat-card class="login-card">
    <div class="app-title">Login</div>

    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <!-- Username Field -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            [(ngModel)]="username"
            name="username"
            required
            autocomplete="off"
          />
          <mat-error
            *ngIf="
              !loginForm.form.controls['username']?.valid &&
              loginForm.form.controls['username']?.touched
            "
          >
            Username is required
          </mat-error>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <mat-error
            *ngIf="
              !loginForm.form.controls['password']?.valid &&
              loginForm.form.controls['password']?.touched
            "
          >
            Password is required
          </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button
          mat-raised-button
          color="primary"
          class="full-width"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="navigateToSignup()">
        Create an Account ?
      </button>
    </mat-card-actions>
  </mat-card>
</div>
