<div class="app-layout-sidebar">
  <ul>
    <li><a routerLinkActive="active-link" routerLink="dashboard">Dashboard</a></li>
    <li><a routerLinkActive="active-link" routerLink="cartable">Cartable</a></li>
    <li><a routerLinkActive="active-link" routerLink="about">About</a></li>
    <li><a routerLinkActive="active-link" routerLink="history">History</a></li>
    <li><a routerLinkActive="active-link" routerLink="user">User</a></li>
    <li><a routerLinkActive="active-link" routerLink="role">Role</a></li>
    <li><a routerLinkActive="active-link" routerLink="group">Group</a></li>
    <li><a routerLinkActive="active-link" routerLink="privilege">Privilege</a></li>
    <li><a routerLinkActive="active-link" routerLink="menu">Menu</a></li>
  </ul>
</div>
