.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f7fa;
  text-align: center;

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .live-clock-card {
    width: 250px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
    background: linear-gradient(
      45deg,
      rgb(31, 0, 102),
      rgb(98, 0, 255),
      rgb(22, 0, 75)
    );
    color: white;
    cursor: pointer;
    border-radius: 10px;
    animation: rotateColors 5s infinite;
  }

  .live-clock-card:hover {
    box-shadow: 0px 1px 20px 0px rgb(41, 0, 136);
    background: linear-gradient(
      90deg,
      rgb(31, 0, 102),
      rgb(98, 0, 255),
      rgb(22, 0, 75)
    );
    border: 3px solid white;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }

  .dashboard-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem 0;
  }

  .dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
}
.dashboard-text-underline {
  text-decoration: underline;
}

.example-card-footer {
  padding: 16px;
}
@media (max-width: 768px) {
  .live-clock-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .cards-grid {
    grid-template-columns: 1fr;
  }
}
.app-title-bottom-border {
  border-bottom: 3px solid rgb(54, 0, 180);
  box-shadow: 0 5px 15px 0 rgba(62, 0, 112, 0.582);
}

@keyframes rotateColors {
  0% {
    background: linear-gradient(
      45deg,
      rgb(31, 0, 102),
      rgb(98, 0, 255),
      rgb(22, 0, 75)
    );
  }
  25% {
    background: linear-gradient(
      135deg,
      rgb(98, 0, 255),
      rgb(22, 0, 75),
      rgb(31, 0, 102)
    );
  }
  50% {
    background: linear-gradient(
      225deg,
      rgb(22, 0, 75),
      rgb(31, 0, 102),
      rgb(98, 0, 255)
    );
  }
  75% {
    background: linear-gradient(
      315deg,
      rgb(31, 0, 102),
      rgb(22, 0, 75),
      rgb(98, 0, 255)
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      rgb(31, 0, 102),
      rgb(98, 0, 255),
      rgb(22, 0, 75)
    );
  }
}
