<div class="obs-container">
  <div>
    <button (click)="ofMethod()" mat-button color="primary" class="obs-of-btn">
      Of
    </button>
    <button
      (click)="fromMethod()"
      mat-button
      color="primary"
      class="obs-from-btn"
    >
      From
    </button>
  </div>
  @for (item of dataList$ | async; track item.id) {
  <div
    *ngIf="!waiting"
    class="obs-item"
    [ngClass]="{
      'bg-red-500': item.id % 2 == 0,
      'bg-green-400': item.id % 2 == 1
    }"
  >
    {{ item.id }} : {{ item.title }} - {{ item.userId }} - {{ item.body }}
  </div>
  }
  <div class="obs-item obs-item-data" *ngFor="let item of dataList">
    {{ item.id }} : {{ item.title }} - {{ item.userId }} - {{ item.body }}
  </div>
</div>
