.obs-container {
  height: 500px;
  overflow: auto;
}
.obs-of-btn {
  margin: 10px;
  background: rgb(131, 0, 120);
  color: white;
}
.obs-from-btn {
  margin: 10px;
  background: rgb(0, 7, 73);
  color: white;
}
.obs-item {
  margin: 4px 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.obs-item:hover {
  background: rgb(0, 7, 73);
  color: white;
}
.obs-item-data {
  background: black;
  color: white;
}
